body {
  box-sizing: border-box;
}

.App {
  text-align: center;
  overflow: auto;
}

.Main {
  padding-top: 1em;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.SourceCode {
  font-size: 12px;
  color: white;
  margin: 0;
}

.SourceCode:hover {
  text-decoration: none;
  color: #860D0D;
}

.App-title {
  font-size: 1.5em;
  margin-bottom: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ErrorContainer {
  position: fixed;
  text-align: center;
  top:  30%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.ErrorContainer  p {
  font-style: italic;
}

.Filter-Section {
  text-align: center;
  height: 500px;
  width: 100%;
  position: relative;
}

.SearchTable {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

@media screen and (max-width: 550px) {
  .SearchTable {
    margin: 0 !important;
    width: 100% !important;
  }
}

.SearchComponent {
  margin-top: 100px;
}

.SearchInputContainer {
  margin: 0 auto;
  padding: auto auto;
  text-align: center;
}

.TestStyles {
  background-color: blue;
}

.StringInput {
  transform: scale(.5);
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  top: 3em;
}

.cube1, .cube2 {
  background-color: rgb(88, 24, 24);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
